@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.comments__container{
    width: calc(100% - 16px * 2);
    margin: 0 16px 16px 16px;

    @include tablet {
        width: calc(100% - 36px * 2);
        margin: 0 36px 24px 36px;
        
    }
    @include desktop {
        width:calc(1280px - 600px);
        margin: 24px 0;
    }
}
.comments__title{
    text-align:left;
    margin: 0 0 16px 0;
    @include tablet {
        margin: 0 0 24px 0;
    }
}
.conversation__container{
    display:flex;
    width: 100%;
    padding-bottom: 16px;
    @include tablet {
        padding-bottom: 24px;
    }
    border-bottom: 1px solid $mercury;
}

.conversation__sub_container{
    width:100%;
    
    @include tablet {
        display:flex;
    }
}

.conversation__form {
    height: 108px;
    width:calc(100% - 12px);
    padding-left: 12px;
    text-align:left;
    margin-bottom: 16px;
    @include tablet {
        width: calc(100% - 50px);
        padding-left: 16px;
        height: 40px;
    }

    //How to align the text on the Top Left corner??
    input[type="text"] {
        outline: none;
        line-height: 1.5; 
        padding-top: 0;
        text-align:left;
    }
   
}
.conversation__avatar{
    margin: 40px 16px 0 0;
    @include tablet {
        margin-top:24px;
    }
}
.conversation__form_container{
    width:100%;
    text-align:left;
    @include tablet {
        width:calc(100% - 150px);
    }
}

.conversation__button{
    @include tablet {
        margin-top:24px;
    }
}

.comment{
    text-align:left;
    padding: 16px 0 16px 0;
}

.comment__container{
    display:flex;
    border-bottom: 1px solid $mercury;
}

